{% extends 'guest_base.html' %} 

{% block title %}
    <title>InterVol | Log In</title>
{% endblock %}

{% block body %} 
    <div id='loginWrapper'>
        <h2>Log In</h2>
        
        {% if form.errors %}
            <p class='requiredText requiredMessage'>
                Your username and password didn't match, please try again.
            </p>
        {% endif %}
        
        <form method='post' action='.'>
            {% csrf_token %}
            <p>
                <label for='id_username' class='label loginLabel'>Username</label>
                {{ form.username }}
            </p>
            
            <p>
                <label for='id_password' class='label loginLabel'>Password</label>
                {{ form.password }}
            </p>
            
            {% if next %}
                <input type='hidden' name='next' value='{{ next }}' />
            {% else %}
                <input type='hidden' name='next' value='/administration' />
            {% endif %}
            
            <input type='submit' value='Log In' class='button loginButton' />
        </form>
    </div>
{% endblock %}


