#itemInfo {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.attributeLabel {
    font-size: 1.15em;
    margin-bottom: 0px;
}

.attributeValue {
    font-size: 1.5em;
    margin-top: 5px;
}

.itemNameValue {
    font-weight: 300;
}

#itemNameValue {
    font-weight: 400;
}

#name, #boxName, #description {
    display: none;
    font-size: 1.5em;
    width: 100%;
}

#description {
    height: 100px;
    resize: none;
}

#editItem, #saveItem, #cancelEdit, #deleteItem {
    font-size: 1.5em;
    float: right;
}

#saveItem, #cancelEdit, #deleteItem {
    display: none;
    margin-top: 10px;
}
