#itemInfo {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.attributeLabel {
    font-size: 1.15em;
    margin-bottom: 0px;
}

.attributeValue {
    font-size: 1.5em;
    margin-top: 5px;
}

.itemNameValue {
    font-weight: 300;
}

#itemNameValue {
    font-weight: 400;
}

#name, #boxName, #description {
    display: none;
    font-size: 1.5em;
    width: 100%;
}

#description {
    height: 100px;
    resize: none;
}

#editItem, #saveItem, #cancelEdit, #deleteItem {
    font-size: 1.5em;
    float: right;
}

#saveItem, #cancelEdit, #deleteItem {
    display: none;
    margin-top: 10px;
}

.box {
    width: 100%;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: 1px solid #c8c8c8;
    margin-bottom: 20px;
}

.boxLink {
    text-decoration: none;
}

.boxLink:hover .attributeValue {
    color: #ff9600;
}

.boxLeft {
    float: left;
    margin-right: 75px;
}

.boxRight {
    float: left;
}

.box h3 {
    margin-bottom: 10px;
    text-decoration: underline;
}

.box h4 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 500;
}

.box p {
    margin-top: 5px;
}
