{% extends "base.html" %}

{% block title %}
    <title>InterVol | Administration</title>
{% endblock %}

{% block styles %}
    <link rel='stylesheet' href='{{ STATIC_URL }}administration/css/styles.css' />
{% endblock %}

{% block body %}
    <h2>Administration</h2>

    <ul>
        <li>
            <a id='manageBackupsButton' href='/administration/backups/'>
                <button class='button'>Manage Database Backups</button>
            </a>
        </li>

        <li>
            <a id='manageUsersButton' href='/administration/users/'>
                <button class='button'>Manage Users</button>
            </a>
        </li>

        <li>
            <a id='manageCategoriesButton' href='/administration/categories/'>
                <button class='button'>Manage Categories</button>
            </a>
        </li>

        <li>
            <a id='manageBoxNamesButton' href='/administration/box_names/'>
                <button class='button'>Manage Box Names</button>
            </a>
        </li>

        <li>
            <a id='manageWarehousesButton' href='/administration/warehouses/'>
                <button class='button'>Manage Warehouses</button>
            </a>
        </li>
    </ul>
{% endblock %}
