{% extends "base.html" %}

{% block title %}
    <title>InterVol | Manage Users</title>
{% endblock %}

{% block styles %}
    <link rel='stylesheet' href='{{ STATIC_URL }}administration/css/styles.css' />
{% endblock %}

{% block body %}
    <h2>Manage Users</h2>
    
    <div id='addWarehouseWrapper'>
        <div class='addWarehouseField'>
            <div class='label'>Username</div>
            <input type='text' id='username' class='textField' />
        </div>
        
        <div class='addWarehouseField'>
            <div class='label'>Email</div>
            <input type='email' id='email' class='textField' />
        </div>
        
        <div class='addWarehouseField'>
            <div class='label'>Group</div>
            <select id='setGroup'>
                {% for group in groups %}
                    <option>{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class='addWarehouseField'>
            <div class='label'>Password</div>
            <input type='password' id='password' class='textField' />
        </div>
        
        <div class='addWarehouseField'>
            <div class='label'>Confirm Password</div>
            <input type='password' id='confirmPassword' class='textField' />
        </div>
        
        <button id='createUser' class='button'>Create User</button>
        
        <div class='errorMessage'><p class='requiredMessage requiredText'></p></div>
        
        <div class='clear'></div>
    </div>
    
    <table>
        <tr><td>Username</td><td>Email</td><td>Group</td><td></td><td></td></tr>
        
        {% for userToShow in users %}
            <tr>
                <td>{{ userToShow.username }}</td>
                <td><a href='mailto:{{ user.email }}'>{{ userToShow.email }}</a></td>
                <td>
                    <select class='changeGroupSelect'>
                        {% for group in groups %}
                            <option
                                {% if group.name == userToShow.groups.all.0.name %}
                                    selected='selected'
                                {% endif %}
                            >{{ group.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><a href='javascript:void(0)'>Send password reset</a></td>
                <td>
                    {% if userToShow.username != user.username %}
                        <a class='removeUser' href='javascript:void(0)'>Remove</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascript %}
    <script type='text/javascript' src='{{ STATIC_URL }}administration/js/main.js'></script>
{% endblock %}