{% extends 'base.html' %}

{% block title %}
    <title>InterVol | Password Reset</title>
{% endblock %}

{% block styles %}
    <link rel='stylesheet' href='{{ STATIC_URL }}administration/css/styles.css' />
{% endblock %}

{% block body %}
    <h2>Reset Password for {{ reset_code.user.username }}</h2>

    <div id='addWarehouseWrapper'>
        <div class='addWarehouseField'>
            <div class='label'>Password</div>
            <input type='password' id='password' class='textField' />
        </div>

        <div class='addWarehouseField'>
            <div class='label'>Confirm Password</div>
            <input type='password' id='confirmPassword' class='textField' />
        </div>

        <input id='resetCode' type='hidden' value='{{ reset_code.code }}' />

        <button id='resetPassword' class='button'>Reset Password</button>

        <div class='errorMessage'><p class='requiredMessage requiredText'></p></div>

        <div class='clear'></div>
    </div>
{% endblock %}

{% block javascript %}
    <script type='text/javascript' src='{{ STATIC_URL }}administration/js/resetPassword.js'></script>
{% endblock %}
