<!DOCTYPE html>

<html>
    <head>
        {% block title %}{% endblock %}
        <link rel='stylesheet' href='{{ STATIC_URL }}css/ui-lightness/jquery-ui.min.css' />
        <link rel='stylesheet' href='{{ STATIC_URL }}css/ui-lightness/jquery.ui.theme.css' />
        <link rel='stylesheet' href='{{ STATIC_URL }}css/jquery.ui-jalert.css' />
        <link rel='stylesheet' href='{{ STATIC_URL }}css/base_styles.css' />
        <link rel='icon' type='image/png' href='{{ STATIC_URL }}Images/Logo.png' />
        {% block styles %}{% endblock %}
        {% load dajaxice_templatetags %}
    </head>

    <body>
        <header>
            <div id='headerImageWrapper'>
                <img src='{{ STATIC_URL }}Images/Logo.png' alt='InterVol' />
            </div>

            <div id='headerTextWrapper'>
                <h1>InterVol</h1>
                <p>Inventory management</p>
            </div>

            <div id='globalSearchWrapper'>
                {% if user.is_authenticated %}
                    <div id='logoutWrapper'><a href='/logout/'>log out</a></div>
                {% endif %}

                {% if user.is_authenticated and user.groups.all.0.name == 'Admin' %}
                    <!--<input id='globalSearch' class='textField' placeholder='Search for anything...' type='text' />
                    <input id='globalSearchButton' class='button' type='button' value='Search' />-->
                {% endif %}
            </div>

            <div class='clear'></div>
        </header>

        <nav>
            {% if user.is_authenticated %}
                <ul>
                    {% if user.groups.all.0.name == 'Admin' %}
                        <a id='inventoryNavButton' href='/inventory/'><li>Inventory</li></a>
                        <a id='catalogNavButton' href='/catalog/'><li>Catalog</li></a>
                        <a id='ordersNavButton' href='/orders/'><li>Orders</li></a>
                        <a id='administrationNavButton' href='/administration/'><li>Admin</li></a>
                        <a id='settingsNavButton' href='/administration/settings'><li>Settings</li></a>
                    {% elif user.groups.all.0.name == 'Guest' %}
                        <a id='inventoryNavButton' href='/inventory/create'><li>Create Box</li></a>
                    {% elif user.groups.all.0.name == 'Box Transfer' %}
                        <a id='boxTransferNavButton' href='/inventory/box_transfer'><li>Box Transfer</li></a>
                        <a id='settingsNavButton' href='/administration/settings'><li>Settings</li></a>
                    {% elif user.groups.all.0.name == 'Read Only' %}
                        <a id='inventoryNavButton' href='/inventory/'><li>Inventory</li></a>
                        <a id='settingsNavButton' href='/administration/settings'><li>Settings</li></a>
                    {% endif %}

                    <div class='clear'></div>
                </ul>
            {% endif %}


            <hr />
        </nav>

        <div id='contentWrapper'>
            {% block body %}{% endblock %}
        </div>

        {% dajaxice_js_import %}
        <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
        <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/jquery.min.js"><\/script>')</script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/jquery-ui.min.js"><\/script>')</script>
        <script src='{{STATIC_URL}}js/jquery.ui-jalert.js'></script>
        {% block javascript %}{% endblock %}
    </body>
</html>
