{% extends 'base.html' %}

{% block title %}<title>Catalog</title>{% endblock %}

{% block styles %}
    <link rel='stylesheet' href='{{ STATIC_URL }}inventory/css/styles.css' />
    <link rel='stylesheet' href='{{ STATIC_URL }}catalog/css/styles.css' />
{% endblock %}

{% block body %}
    <h2>Catalog</h2>

    <form id='catalog_form' action='' method='post'>
        {% csrf_token %}
        <input type='text' id='itemSearch' class='textField'
            placeholder='Search for a category, box name, or item...' />

        <div id='or'>
            -- or --
        </div>

        <div id='createBoxLists'>
            <div class='createBoxListWrapper'>
                <h3>Categories</h3>
                <select id='categories' size=20>
                    {% for category in categories %}
                        <option>{{ category }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class='createBoxListWrapper'>
                <h3>Box Names</h3>
                <select id='box_names' size=20></select>
            </div>

            <div class='createBoxListWrapper'>
                <h3>Items</h3>
                <select id='items' size=20></select>
            </div>

            <div class='clear'></div>
        </div>

        <div id='itemSelectedMessage' class='noItemSelected'>
            Please select an item.
        </div>

        <div id='itemInfo'>
            <div class='itemInfoColumn'>
                <h3>Category</h3>
                <p id='category'></p>
            </div>

            <div class='itemInfoColumn'>
                <h3>Box Name</h3>
                <p id='boxName'></p>
            </div>

            <div class='itemInfoColumn'>
                <h3>Description</h3>
                <p id='description'></p>
            </div>

            <button class='button' id='item_details'>Details</button>

            <div class='clear'></div>
        </div>

        <hr />

        <h2>Add New Item</h2>
        <div id='newItem'>
            <div class='newItemField'>
                <div class='label'>Box Name</div>
                <div id='boxNameField'><i>choose a box name above</i></div>
            </div>

            <div class='newItemField'>
                <div class='label'>Name</div>
                <input id='item_input' type='text' class='textField' />
            </div>

            <div class='newItemField'>
                <div class='label'>Description</div>
                <textarea id='item_description' class='textField'></textarea>
            </div>

            <button class='button' id='add_new_item'>Add Item</button>

            <p id='changeMessage' class='requiredMessage requiredText errorMessage'>

            </p>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    <script type='text/javascript' src='{{ STATIC_URL }}catalog/js/main.js'></script>
{% endblock %}
