{% extends 'base.html' %}

{% block title %}
    <title>Intervol | Item Info</title>
{% endblock %}

{% block styles %}
    <link rel='stylesheet' href='{{ STATIC_URL }}catalog/css/itemInfo.css' />
{% endblock %}

{% block body %}
    {% if item %}
        <h2 class='itemNameValue'>{{ item.name }}</h2>
        <input type='hidden' id='categoryLetter' value='{{ item.box_name.category.letter }}' />

        <div id='itemInfo'>
            <p id='requiredFieldsMessage' class='requiredText requiredMessage'></p>

            <h3 class='attributeLabel'>Name</h3>
            <p id='itemNameValue' class='attributeValue itemNameValue'>{{ item.name }}</p>
            <input id='name' type='text' value='{{ item.name }}' class='textField' />

            <h3 class='attributeLabel'>Box Name</h3>
            <p id='boxNameValue' class='attributeValue'>{{ item.box_name.name }}</p>
            <input id='boxName' type='text' value='{{ item.box_name.name }}' class='textField' />

            <h3 class='attributeLabel'>Description</h3>
            <p id='descriptionValue' class='attributeValue'>
                {% if item.description == '' %}
                    <i>no description</i>
                {% else %}
                    {{ item.description|linebreaksbr }}
                {% endif %}
            </p>
            <textarea id='description' class='textField'>{{ item.description }}</textarea>

            <div id='buttons'>
                <button class='button' id='editItem'>Edit</button>
                <a href='?confirm=true' class='deleteDialog'>
                    <button class='button' id='deleteItem'>Delete Item</button>
                </a>
                <button class='button' id='cancelEdit'>Cancel Edit</button>
                <button class='button' id='saveItem'>Save Changes</button>
                <div class='dialog' id='deleteQuestion'>
                    Are you sure you want to delete this item from the catalog?
                </div>
            </div>

            <div class='clear'></div>
        </div>

        <hr />

        <div id='boxesWithItem'>
            <h2>Boxes with <span class='itemNameValue'>{{ item.name }}</span></h2>

            {% if boxes_with_item %}
                {% for box in boxes_with_item %}
                    <p>
                        <a href='/inventory/view_box_info/{{ box.box_id }}' target='_blank'>{{ box.box_id }}</a>
                    </p>
                {% endfor %}
            {% else %}
                <h3><i>no boxes with this item</i></h3>
            {% endif %}
        </div>

        <hr />

        <div id='ordersWithItem'>
            <h2>Orders with <span class='itemNameValue'>{{ item.name }}</span></h2>

            {% if orders_with_item %}
                {% for order in orders_with_item %}

                {% endfor %}
            {% else %}
                <h3><i>no orders with this item</i></h3>
            {% endif %}
        </div>
    {% else %}
        <h2>Item Does Not Exist</h2>

        <p>
            <a href='/catalog/'>&larr; Back to Catalog</a>
        </p>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script type='text/javascript' src='{{ STATIC_URL }}catalog/js/itemInfo.js'></script>
{% endblock %}
