{% extends 'base.html' %}

{% block title %}
    <title>InterVol | Inventory</title>
{% endblock %}

{% block styles %}
    <link rel='stylesheet' href='{{ STATIC_URL }}catalog/css/styles.css' />
    <link rel='stylesheet' href='{{ STATIC_URL }}inventory/css/styles.css' />
{% endblock %}

{% block body %}
    <h2 id='inventoryHeader'>Inventory</h2>

    {% if user.is_authenticated and user.groups.all.0.name == 'Admin' %}
        <a id='boxTransfer' href='/inventory/box_transfer'><button class='button'>Box Transfer</button></a>
        <a id='createNewBox' href='/inventory/create'><button class='button'>Create New Box</button></a>
    {% endif %}

    <div id='inventorySearchWrapper'>
        <input type='text' id='itemSearch' class='textField inventoryItemSearch'
            placeholder='Search for category, box name, item, or box.' />

        <div id='or'>
            -- or --
        </div>

        <div id='createBoxLists'>
            <div class='createBoxListWrapper inventoryCreateBoxListWrapper'>
                <h3>Categories</h3>
                <select id='categories' size=10>
                    {% for category in categories %}
                        <option>{{ category }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class='createBoxListWrapper inventoryCreateBoxListWrapper'>
                <h3>Box Names</h3>

                <select id='box_names' size=10></select>
            </div>

            <div class='createBoxListWrapper inventoryCreateBoxListWrapper'>
                <h3>Items</h3>

                <select id='items' size=10></select>
            </div>
        </div>

        <div class='clear'></div>
    </div>

    <div id='tableWrapper' class='inventoryTableWrapper'>
        <table id='boxes_found'>
            <tr id='table_header'>
                <td class='tagColumn'></td>
                <td id='idHeader' class='clickableHeader'>Box ID</td>
                <td id='sizeHeader' class='clickableHeader'>Size</td>
                <td id='weightHeader' class='clickableHeader'>Weight</td>
                <td id='contentHeader' class='clickableHeader'>Contents</td>
                <td id='expHeader' class='clickableHeader'>Exp date</td>
                <td id='warehouseHeader'>Warehouse</td>
                <td id='filterHeader'>Filter</td>
            </tr>
            <tbody id='boxes_body'>
                <tr id='placeholder_row'>
                    <td class='tagColumn'></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id='buttons'>
        <div id='buttonsLeft'>
            <button type='button' id='previous_button' class='button'>&larr; Previous</button>
            <div id='page_numbers'>Page 0 of 0</div>
            <button type='button' id='next_button' class='button'>Next &rarr;</button><br /><br />

            <label for='max_per_page'>Boxes Per Page: </label>
            <select id='max_per_page'>
                <option>10</option>
                <option>25</option>
                <option>50</option>
            </select>
        </div>

        <div id='buttonsRight'>
            <button type='button' id='filter_button' class='button'>Filter</button>
            <button type='button' id='unfilter_button' class='button'>Unfilter</button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type='text/javascript'>
        var groupName = '{{ user.groups.all.0.name }}';
    </script>
    <script type='text/javascript' src='{{ STATIC_URL }}inventory/js/inventory.js'></script>
{% endblock %}
