{% extends 'base.html' %}

{% block title %}<title>Inventory</title>{% endblock %}

{% block styles %}
    <link rel='stylesheet' href='{{ STATIC_URL }}inventory/css/styles.css' />
    <link rel='stylesheet' href='{{ STATIC_URL }}catalog/css/styles.css' />
{% endblock %}

{% block body %}
    <input type='text' id='itemSearch' class='textField'
        placeholder='Search for category, box name, item, or box.' />
    
    <div id='createBoxLists'>
        <div class='createBoxListWrapper'>
            <h3>Categories</h3>
            <select id='categories' size=10>
                {% for category in categories %}
                    <option>{{ category }}</option>
                {% endfor %}
            </select>
        </div>

        <div class='createBoxListWrapper'>
            <h3>Box Names</h3>
            
            <select id='box_names' size=10></select>
        </div>

        <div class='createBoxListWrapper'>
            <h3>Items</h3>

            <select id='items' size=10></select>
        </div>
    </div>
    
    <div id='tableWrapper'>
        <table id='boxes_found'>
            <tr id='table_header'>
                <td id='idHeader'>Box ID</td>
                <td id='sizeHeader'>Size</td>
                <td id='weightHeader'>Weight</td>
                <td id='contentHeader'>Contents</td>
                <td id='expHeader'>Exp date</td>
                <td id='warehouseHeader'>Warehouse</td>
                <td id='filterHeader'>Filter</td>
            </tr>
            <tbody id="boxes_body">
                <tr id='placeholder_row'>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id='buttons'>
        <button type="button" id="previous_button">previous</button>
        <div id="page_numbers">Page 0 of 0</div>
        <button type="button" id="next_button">next</button>
        <button type="button" id="filter_button">filter</button>
        <button type="button" id="unfilter_button">unfilter</button>
        <select id="max_per_page">
            <option>10</option>
            <option>25</option>
            <option>50</option>
        </select>
    </div>
{% endblock %}

{% block javascript %}
    <script type='text/javascript' src='{{ STATIC_URL }}inventory/js/inventory.js'></script>
{% endblock %}