#boxInfoWrapper {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#createdDate {
    font-style: italic;
    margin-top: -20px;
    color: gray;
}

#boxInfoButtons {
    width: 100%;
}
