.letterColumn, .letterInput {
    width: 75px;
}

.letterInput {
    text-align: center;
}

.nameColumn {

}

.nameInput {
    width: 100%;
    text-align: center;
}

.deleteColumn {
    width: 80px;
}

.saveColumn {
    width: 130px;
    border: none;
}
