{% extends 'base.html' %}

{% block title %}
    <title>InterVol | Orders</title>
{% endblock %}

{% block styles %}
    <link rel='stylesheet' href='{{ STATIC_URL }}orders/css/orders.css' />
{% endblock %}

{% block body %}
    <h2>Orders</h2>

    <a id='createOrder' href='/orders/create'><button class='button'>Create Order</button></a>
<div></div>
    <div id='tableWrapper'>
        <table id='orders_found'>
            <tr id='table_header'>
                <td id='idHeader'>Order ID</td>
                <td id='statusHeader'>Status</td>
                <td id='forHeader'>Reserved For</td>
                <td id='dateHeader'>Created On</td>
                <td id='priceHeader'>Price</td>
                <td id='weightHeader'>Weight</td>
            </tr>
                <tbody id="orders_body">
                    {% for order in orders %}
                    <tr id='order{{ order.id }}'>
                        <td>
                            <a href="/orders/review/{{ order.id }}">{{ order.order_number }}</a>
                        </td>
                        <td>{{ order.get_order_status_display }}</td>
                        <td>{{ order.reserved_for.contact_name }}</td>
                        <td>{{ order.get_creation_date_display }}</td>
                        <td>${{ order.get_cost|floatformat:'2' }}</td>
                        <td>{{ order.get_weightfloatformat:'1' }} lbs</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>

    <label id='statusSelectLabel' for='statusSelect'>Show</label>
    <select id="statusSelect">
        <option value="All Open" selected="selected">All Open</option>
        {% for status in statuses %}
            <option value="{{ status.0 }}">{{ status.1 }}</option>
        {% endfor %}
        <option value="All Orders">All Orders</option>
    </select>
{% endblock %}

{% block javascript %}
    <script type='text/javascript' src='{{ STATIC_URL }}orders/js/orders.js'></script>
{% endblock %}
