{% extends 'base.html' %}

{% block title %}
    <title>Intervol | Orders Page </title>
{% endblock %}

{% block styles %}
    <link rel='stylesheet' href='{{ STATIC_URL }}orders/css/style.css' />
{% endblock %}

{% block body %}

    <h2>Create Order - Step <span id='stepNumber'>1</span>/2</h2>

    <div id='stepOne'>
        <p id='requiredFieldsMessage' class='requiredText requiredMessage'>Please fill out the required fields.</p>

        <div id='stepTwoFields'>
            <div class='stepTwoField'>
                <div class='label'>
                    &nbsp;
                </div>

                <div class='stepTwoFieldWrapper requiredText'>
                    *required
                </div>

                <div class='clear'></div>
            </div>

            <div class='stepTwoField'>
                <div class='label'>
                    Contact Name <span class='requiredText'>*</span>
                </div>

                <div class='stepTwoFieldWrapper'>
                    <input type='text' id='contact_name' name='contact_name' class='textField' />
                </div>

                <div class='clear'></div>
            </div>

            <div class='stepTwoField'>
                <div class='label'>
                    Contact Email <span class='requiredText'>*</span>
                </div>

                <div class='stepTwoFieldWrapper'>
                    <input name='contact_email' id='contact_email' type='text' class='textField' />
                </div>

                <div class='clear'></div>
            </div>

            <div class='stepTwoField'>
                <div class='label'>
                    Organization Name <span class='requiredText'>*</span>
                </div>

                <div class='stepTwoFieldWrapper'>
                    <input name='organization_name' id='organization_name' type='text' class='textField' />
                </div>

                <div class='clear'></div>
            </div>

            <div class='stepTwoField'>
                <div class='label'>
                    Organization Address <span class='requiredText'>*</span>
                </div>

                <div class='stepTwoFieldWrapper'>
                    <textarea name='organization_address' id='organization_address' class='textField'></textarea>
                </div>

                <div class='clear'></div>
            </div>

            <div class='stepTwoField'>
                <div class='label'>
                    Shipping Address<br />
                    <input type='checkbox' id='same_as_business' />
                    <label for='same_as_business'>Same as organization address</label>
                </div>

                <div class='stepTwoFieldWrapper'>
                    <textarea name='shipping_address' id='shipping_address' class='textField'></textarea>
                </div>

                <div class='clear'></div>
            </div>
        </div>

        <input type='button' class='next button createButton' value='Create Order &rarr;' />
        <div class='clear'></div>
    </div>

    <div id='stepTwo'>
        <div id='stepOneFields'>

            <p id='emptyBoxMessage' class='requiredText requiredMessage'>Order must have at least one box.</p>

            <input type='text' id='itemSearch' class='textField'
            placeholder='Search for category, box name, item, or box.' />

            <div id='or'>
                -- or --
            </div>

            <div id='createBoxLists'>
                <div class='createBoxListWrapper'>
                    <h3>Categories</h3>

                    <select id='categories' size=10>
                        {% for category in categories %}
                        <option>{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class='createBoxListWrapper'>
                    <h3>Box Names</h3>

                    <select id='box_names' size=10></select>
                </div>

                <div class='createBoxListWrapper'>
                    <h3>Items</h3>

                    <select id='items' size=10></select>
                </div>

                <hr id='ordersHr' />

                <div class='createBoxListWrapper boxesList'>
                    <h3>Boxes</h3>

                    <select id='boxes' size=10></select>
                </div>

                <div class='createBoxListWrapper boxInfo'>
                    <h3>Box Information </h3>

                    <div id='boxDetails'></div>
                </div>

                <div class='clear'></div>
            </div>

            <div id='itemSelectedMessage' class='noItemSelected'>
                Please select a box.
            </div>

            <div id='addBoxWrapper'>
                <button id='add_box' class='button'>Add Box</button>
            </div>
        </div>

        <div id='tableWrapper'>
            <table id='boxes_added'>
                <tr id='table_header'>
                    <td>Box ID</td>
                    <td>Size</td>
                    <td>Weight</td>
                    <td>Price</td>
                </tr>

                <tr id='placeholder_row'>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>

        <div id='priceWrapper'>
            <div class='orderPriceRow'>
                <div class='priceRight'>$<span id='totalPrice'>0.00</span></div>
                <div class='priceLeft'>Total Price </div>
            </div>

            <div class='orderPriceRow'>
                <div class='priceRight'>
                    <input type='number' id='price' class='textField' step='any' min='0' />
                    <i>* overrides total price</i>
                </div>
                <div class='priceLeft customPrice'>Custom Price </div>
                <div class='clear'></div>
            </div>

            <div class='clear'></div>
        </div>

        <input type='button' class='back button' value='&larr; Back' />
        <input type='submit' id='submit' class='button' value='Save Order' />
    </div>

    <!--<div id='stepThree'>
        <div id='tableWrapper'>
            <table id='review_boxes'>
                <tr id='table_header'>
                    <td>Box ID</td>
                    <td>Size</td>
                    <td>Weight</td>
                    <td>Price</td>
                </tr>
            </table>
        </div>

        <h3>Total Weight of Order: </h3>
        <h3>Total Price of Order: </h3>
        <p id='total_price'></p>

        <input type='button' class='back button' value='&larr; Back' />
        <input type='submit' id='submit' class='button' value='Create Order' />
        <div class='clear'></div>
    </div>-->
{% endblock %}

{% block javascript %}
    <script type='text/javascript' src='{{ STATIC_URL }}orders/js/main.js'></script>
    <!--<script type='text/javascript' src='{{ STATIC_URL }}orders/js/order_review.js'></script>-->
{% endblock %}
