{% extends 'base.html' %}

{% block title %}
    <title>InterVol | Orders</title>
{% endblock %}

{% block styles %}

{% endblock %}

{% block body %}
    <h2>Orders</h2>

    <a id='createOrder' href='/orders/create'><button class='button'>Create Order</button></a>
<div></div>
    <div id='tableWrapper'>
        <table id='orders_found'>
            <tr id='table_header'>
                <td id='idHeader'>Order ID</td>
                <td id='statusHeader'>Status</td>
                <td id='forHeader'>Reserved For</td>
                <td id='dateHeader'>Created On</td>
                <td id='priceHeader'>Price</td>
                <td id='weightHeader'>Weight</td>
            </tr>
            {% for order in orders %}
                <tbody id="orders_body">
                    <tr id='placeholder_row'>
                        <td>
                            <a href="/orders/review/{{ order.id }}">{{ order.order_number }}</a>
                        </td>
                        <td>{{ order.get_order_status_display }}</td>
                        <td>{{ order.reserved_for.contact_name }}</td>
                        <td>{{ order.get_creation_date_display }}</td>
                        <td>{{ order.price }}</td>
                        <td>{{ order.get_weight }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
    <select id="statusSelect">
        <option value="All Open" selected>All Open</option>
        {% for status in statuses %}
            <option value="{{ status.0 }}">{{ status.1 }}</option>
        {% endfor %}
        <option value="All Orders">All Orders</option>
    </select>
{% endblock %}

{% block javascript %}
    <script type='text/javascript' src='{{ STATIC_URL }}orders/js/orders.js'></script>
{% endblock %}
